<footer class="newsletter-section">
  <div class="newsletter-container">
    <div class="newsletter-left">
      <h2>Претплатете се на нашиот Билтен</h2>
    </div>
    <form class="newsletter-right">
      <label for="email">Е-пошта*</label>
      <div class="input-group">
      <input type="email" id="email" placeholder="Внесете ја вашата е-пошта" required />
      <button type="submit">Претплати се</button>
      </div>
      <small>
      Со поднесување, се согласувате да примате <a href="#">Маркетинг комуникации од Deni</a>.
      <br>
      За повеќе информации за тоа како ги обработуваме вашите лични податоци, посетете ја нашата
      <a href="#">Политика за приватност</a>.
      </small>
    </form>
  </div>

  <div class="disclaimers">
    <p>1. Сите информации на страницата се однесуваат на премиум верзијата на X9 продадена во Кина.</p>
    <p>2. Карактеристиките и спецификациите може да варираат во зависност од моделот на X9 и земјата. Ве молиме посетете ја веб-страницата специфична за вашата земја за целосни и детални спецификации.</p>
    <p>3. Податоците се добиени под внатрешно тестирање. Сите прикажани бројки се репрезентативни за максималните или најбрзите вредности постигнати под тест услови според CLTC стандардите.</p>
    <a href="#" class="more-details">Повеќе детали ⌄</a>
  </div>
</footer>