<header class="navbar">
  <div class="logo">NAME</div>
  <nav>
    <ul>
      <li><a href="car_one">X9</a></li>
      <li><a href="car_two">X10</a></li>
      <li><a href="#">G6</a></li>
      <li><a href="#">P7</a></li>
      <li><a href="#">Откриј</a></li>
      <li><a href="/about.html">Поддршка</a></li>
    </ul>
  </nav>
  
  <div class="auth-buttons">
    <button class="outline">Претплати се</button>
    <button class="icon">🌐</button>
    <button class="link">Најави се</button>
  </div>
</header>